<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="products">
		<div class="container">
			<div style="height: 20px"></div>
		</div>
	</div>
	<div class="container">
		<h2>헬스장 상세보기</h2>
		<table class="table">
			<tr>
				<td colspan="2" class="text-center">
					<img th:src="${vo.poster}" style="height: 300px">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<h3><span th:text="${vo.title}"></span>&nbsp;<span style="color:orange"></span></h3>
				</td>
			</tr>
			<tr>
				<th width="15%">주소</th>
				<td width="55%" th:text="${vo.address}"></td>
			</tr>
			<tr>
				<th width="15%">영업시간</th>
				<td width="55%" th:text=${vo.time}></td>
			</tr>
			<tr>
				<th width="15%">전화</th>
				<td width="55%" th:text="${vo.phone}"></td>
			</tr>
			<tr>
				<td colspan="3" class="text-right inline">
	                		<!-- <button v-if="!isLiked" @click="like" class="ml-4 flex items-center justify-center heart-button">
				                <i class="fas fa-heart" style="color: gray; font-size: 24px;"></i>
				                <span class="sr-only">찜</span>
				            </button>
				            <button v-else @click="unlike" class="ml-4 flex items-center justify-center heart-button">
				                <i class="fas fa-heart" style="color: red; font-size: 24px;"></i>
				                <span class="sr-only">찜</span>
				            </button> -->
					<input type="button" value="목록" onclick="javascript:history.back()">
				</td>
			</tr>
		</table>
	</div>
</body>
</html>