<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="products">
		<div class="container">
			<div style="height: 20px"></div>
		</div>
	</div>
	<div class="container">
		<h2>요가&필라테스 목록</h2>
		<div class="row">
			<div class="col-md-3" th:each="vo:${list}">
		    	<div class="thumbnail">
		      		<a th:href="@{/yp/detail(no=${vo.no})}">
		        		<img th:src="${vo.poster}" alt="Lights" style="width:100%">
		        		<div class="caption">
		          			<p th:text="${vo.title}"></p>
		        		</div>
		      		</a>
		    	</div>
			</div>
		</div>
		<div class="text-center">
			<ul class="pagination">
				<li th:if="${startPage>1}"><a th:href="@{/yp/list(page=${startPage-1})}">&laquo;</a></li>
				<li th:class="${curpage==i?'active':''}" th:each="i:${#numbers.sequence(startPage, endPage)}">
					<a th:href="@{/yp/list(page=${i})}" th:text="${i}"></a>
				</li> <!-- 1,2,3,4 출력 -->
				<li th:if="${endPage<totalpage}"><a th:href="@{/yp/list(page=${endPage+1})}">&raquo;</a></li>
			</ul>
		</div>
	</div>
</body>
</html>