<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3" th:each="vo:${list}">
			    <div class="thumbnail">
			      <a th:href="@{/food_detail(fno=${vo.fno})}">
			        <img th:src="'http://www.menupan.com'+${vo.poster}" alt="Lights" style="width:100%">
			        <div class="caption">
			          <p th:text="${vo.name}"></p>
			        </div>
			      </a>
			    </div>
			  </div>
		</div>
		<div style="height: 10px"></div>
		<div class="row">
			<div class="text-center">
				<ul class="pagination">
					<li th:if="${startPage>1}"><a th:href="@{/(page=${startPage-1})}">&laquo;</a></li>
					<li th:each="i:${#numbers.sequence(startPage, endPage)}" 
						th:class="${i==curpage?'active':''}">
						<a th:href="@{/(page=${i})}" th:text="${i}"></a></li>
					<li th:if="${endPage<totalpage}"><a th:href="@{/(page=${endPage+1})}">&raquo;</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>